.pokemon-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    max-width: 1500px;
    margin: auto;
    border: 5px solid white;
    border-radius: 10%;
    background: linear-gradient(to right, red, orange, yellow, green);
    background-clip: border-box;
    box-decoration-break: clone;
}

.pokemon-grid img {
    min-width: 200px;
    height: auto;
    object-fit: cover;
}

.pokemon-grid img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}
